*{
  padding: 0;
  margin: 0;
  color: #bdbdbd;
  background-color: #1d1d1d;
  font-family: "Source Sans 3", sans-serif;
}

header{
  position: relative;
  background-color: #272727;
  display: flex;
  padding: 5px 10px;
  justify-content: space-between;
  .ico{
    border-radius: 15px 0 15px 0;
    font-size: 20px;
    padding: 5px;
    background-color: #1d1d1d;
    a{
      color: white;
      text-decoration: none;
    }
  }
  .barra_superior {
    background-color: #272727;
    font-size: 23px;
    display: flex;
    align-items: center;
    gap: 40px;
    a {
      text-decoration: none;
      color: #1d1d1d;
      border-radius: 15px 0 15px 0;
      background-color: #51b2d0;
      padding: 5px 10px;
    }
    a:hover{;
      color: white/*#51b2d0 -> cian*/;
      text-decoration: underline;
    }
  }
  .pdf{
    background-color: #272727;
    margin: auto 0;
    padding-top: 5px;
    padding-left: 40px;
    img{
      background-color: #272727;
    }
    a{
      background-color: #272727;

    }
  }
}
.menu_expandido{
  display: none;
  a {
    color: #1d1d1d;
    font-size: 20px;
    border-radius: 15px 0 15px 0;
    text-decoration: none;
    background-color: #51b2d0;
    margin: 10px 0;
    padding: 5px 10px;
  }
  a:hover{;
    color: white/*#51b2d0 -> cian*/;
    text-decoration: underline;
  }
}

@media only screen and (max-width: 650px){
  header .barra_superior{
    display: none;
  }
  .menu_expandido{
    display: flex;
    justify-content: center;
    gap: 40px;
  }
}